# /etc/systemd/system/fbjq-executor@.service
[Unit]
Description=FBJQ Executor Worker for Queue /var/fbjq/queue/%I

[Service]
Type=oneshot
Slice=system.slice
KillMode=process

# == DEBUG ==
ExecStart=/root/work/fbjq/build/debug/executor/fbjq-executor -q %I
## == RELEASE ==
#ExecStart=/usr/local/bin/fbjq-executor -q %I
